**/*
!CHANGELOG.md
!LICENSE
!README.md
!SECURITY.md
!SUPPORT.md
!ASSET_PROVENANCE.md
!command-builder.js
!chat-protocol.js
!cli-runner.js
!diagnostics.js
!errors.js
!execution-environment.js
!extension.js
!media/icon.png
!media/walkthrough/binary-path.md
!media/walkthrough/chat.md
!media/walkthrough/doctor.md
!media/walkthrough/install.md
!media/walkthrough/mutation.md
!onboarding.js
!package.json
!path-resolver.js
!workspace-context.js
